<section class="about" id="about">
    <div class="container">
      <div class="page-section">
        <div class="text-center">
          <h2 class="page-section__title">ABOUT PYERAMID</h2>
          <p class="page-section__paragraph">   </p>
        </div>
        <div class="row gutters-50">
          <div class="about--narrow">
            <div class="col-md-6">
              <img class="img-responsive" src="assets/images/wallpaper1.jpeg" alt="">
            </div>
            <div class="col-md-6 about__extra-padding">
              <h3 class="about__content-title">EVOLVE!! & <br>MOVE WITH THE TREND...</h3>
              <p class="about__content-subTitle">“By 2021, early adopter brands that redesign their websites to support visual and voice search will increase digital commerce revenue by 30%.</p>
               <p class="about__content-subTitle"> "Gartner’s top predictions for 2018 and beyond"
              </p>
                <p class="about__content-paragraph">We design and develop affordable and responsive website buid packages to contribute and support the dream of an all inclusive Africa. We offer yearly packs. We are here to help you save that 80% today and get you your desired website, blogs, Database Management Systems, Business re-brand to take your businesss to another level, Where the serv ice inclusive pack also covers 2-years maintainance and support service. Here at Pyeramid, We have a 24/7 Customer Support services available . Want to go Digital? We got you!</p>
                <a class="button--light" href="#plans">TRY ME</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    
    <section class="letsGo letsGo--bg" id="letsGo">
      <div class="container">
        <div class="page-section page-section--small text-center">
          <h2 class="page-section__title--white page-section__title--white--less-margin">CHOOSE FROM THE BEST DESIGNS IN THE WORLD</h2>
          <p class="page-section__paragraph page-section__paragraph--less-padding"><em>  We really mean to build websites, responsive, efficient and eye catching websites.</em></p>
          <a class="button button--hover" href="#templates">LETS GO</a>
        </div>
      </div>
    </section>