<div class="container" id="blog">
    <section class="blog">
      <div class="page-section">
        <div class="text-center">
          <h2 class="page-section__title">OUR BLOG</h2>
          <p class="page-section__paragraph">We are cooking something tasty for you. </p>
        </div>
        <div class="row gutters-50">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="assets/images/blog-pic1.png" target="_blank">
                <img class="img-responsive" src="images/comingsoon.jpg" alt="">
                <div class="caption">
                  <h3 class="blog__title">The Africa We Heard About.</h3>
                  <p class="blog__paragraph">By Eloho Kelvin <span class="blog__paragraph--slash">&#47;</span> 01 march, 2020 <span class="blog__paragraph--slash">&#47;</span> 0 Comments</p>
                  <h4 class="blog__read-more">READ MORE</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="assets/images/blog-pic2.png" target="_blank">
                <img class="img-responsive" src="images/comingsoon.jpg" alt="">
                <div class="caption">
                  <h3 class="blog__title">The Africa We Met</h3>
                  <p class="blog__paragraph">By Eloho Kelvin &#47; 01 march, 2020&#47; 0 Comments</p>
                  <h4 class="blog__read-more">READ MORE</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="assets/images/blog-pic3.png" target="_blank">
                <img class="img-responsive" src="images/comingsoon.jpg" alt="">
                <div class="caption">
                  <h3 class="blog__title">The Africa We Dream Of.</h3>
                  <p class="blog__paragraph">By Onoja Vincent &#47; 01 march, 2020 &#47; 0 Comments</p>
                  <h4 class="blog__read-more">READ MORE</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>