<section class="contact-two contact-two--bg">
    <div class="container">
      <div class="page-section text-center">
        <h2 class="contact-two__title"></h2>
        <a class="button contact-two__button button--hover" href="#contacts">CONTACT US</a>
      </div>
    </div>
  </section>