<div class="container" id="templates">
    <section class="project">
        <div class="page-section">
            <div class="text-center">
                <h2 class="page-section__title">DESIGN TEMPLATES </h2>
                <p class="page-section__paragraph">Hi, Lets save you the stress of choosing beautiful frontend designs. </p>
            </div>
            <div class="row gutters-50">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts" target="_blank">
                            <img class="img-responsive" src="images/capture1.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Pop DESIGN</h4>
                                <p class="project__paragraph">Lets build you a Website Like Pop </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts">
                            <img class="img-responsive" src="images/capture2.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Yamifood</h4>
                                <p class="project__paragraph">Lets build you a Website Like Yamifood </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts">
                            <img class="img-responsive" src="images/capture3.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Diary</h4>
                                <p class="project__paragraph">Lets build you a Website Like Diary </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gutters-50">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts">
                            <img class="img-responsive" src="images/capture4.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Azulmedia</h4>
                                <p class="project__paragraph">Lets build you a Website Like Azulmedia </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts">
                            <img class="img-responsive" src="assets/images/4.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Nova</h4>
                                <p class="project__paragraph">Lets build you a Website Like Nova </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#contacts">
                            <img class="img-responsive" src="assets/images/6.png" alt="">
                            <div class="caption">
                                <h4 class="project__title">Markedia</h4>
                                <p class="project__paragraph">Lets build you a Website Like Markedia </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>