<footer class="footer footer--bg">
    <div class="container">
      <div class="page-section">
        <div class="row gutters-100">
          <div class="col-md-4 col-lg-3">
            <div class="footer__first">
              <h2 class="footer__title">PYERAMID</h2>
              <p class="footer-first__paragraph">Let's build your website, blogs, database management systems and graphic designs.</p>
              <ul class="footer-first__social-icons">
                <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
                <li><a href="#"><i class="instagram-logo"></i></a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="footer__second">
              <h2 class="footer__title">QUICK LINK</h2>
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3" id="contacts">
            <div class="footer__third">
              <h2 class="footer__title">CONTACT US</h2>
              <ul>
                <li><span class="glyphicon glyphicon-envelope"></span> <a href="#">Pyeramid.CC@gmail.com</a></li>
                <li><span class="glyphicon glyphicon-earphone"></span> <a href="#">+2348172564484</a></li>
              </ul>
              <h4 class="footer__subscribe__title">Subscribe</h4>
              <div class="subscribe-section">
                <input type="email" class="form-control" size="50" placeholder="Enter Your Email" required>
                <button class="subscribe-section__button" type="button"><img src="assets/images/send-icon.png" alt=""></button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="footer__fourth">
              <h4 class="footer__title">MICA MICKY GALLERY</h4>
              <div class="row">
                <ul>
                  <li><a href="#"><img src="images/fulls/instagram01.jpg" alt=""></a></li>
                  <li><a href="#"><img src="images/fulls/instagram02.jpg" alt=""></a></li>
                  <li><a href="#"><img src="images/fulls/instagram03.jpg" alt=""></a></li>
                </ul>
              </div>
              <div class="row">
                <ul>
                  <li><a href="#"><img src="images/fulls/instagram04.jpg" alt=""></a></li>
                  <li><a href="#"><img src="images/fulls/instagram05.jpg" alt=""></a></li>
                  <li><a href="#"><img src="images/fulls/instagram06.jpg" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="footer__horizontal-bar">
        <p class="footer__bottom-paragraph">&copy; Copyright 2020 <a href="#home" style="color: #008fd6;font-weight:bold;">PYERAMID</a>. All Rights Reserved</p>
      </div>
    </div>
  </footer>