<header class="header header--bg">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
                <a class="navbar-brand" style="float: left;" href="#"> <img src="images/logo1.png" alt=""> PYERAMID</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#service">SERVICES</a></li>
                    <li><a href="#about">ABOUT US</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#blog">BLOG</a></li>
                </ul>
            </div>
        </nav>
        <div class="header__content text-center" id="home">
            <h1 class="header__content__title">LET'S BUILD WEBSITES</h1>
            <p class="header__content__paragraph">The fourth industrial revolution does bring a sense of gloom and doom, but don't focus on the threat: focus on the opportunities.</p>
            <a class="button button--margin-right button--hover" href="#myCarousel">LEARN MORE</a>
            <a class="button button--hover" href="#plans">DISRUPT</a>
        </div>
    </div>
</header>