<section class="service " id="service">
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section__title">SERVICES WE OFFER</h2>
            <p class="page-section__paragraph">We offer services ranging from buiding of websites, blogs, databased management systems, and branding and re-branding of business, paying close attention to and implementing the most recent technologies so our clients can experience the best feeling possibe. </p>
            <div class="row gutters-40">

                <div class="row gutters-40">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <i class="material-icons">language</i>
                            <h4 class="service__title">Web Design & Development</h4>
                            <p class="service__paragraph">we build websites, responsive and beautifully designed.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <i class="material-icons">kitchen</i>
                            <h4 class="service__title">Database Management System</h4>
                            <p class="service__paragraph">Lets build a little something to handle and manipulate your data's.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <i class="material-icons">location_city</i>
                            <h4 class="service__title">Business Branding</h4>
                            <p class="service__paragraph">Let us give your company a woderful brand experience with wonderful logo, Color scheme and structuring.npm </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="contact contact--bg" id="contact">
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section__title--white">We Just Want To Show You Off To The World</h2>
            <p class="page-section__paragraph--white">We Create Marvelous Experience</p>
            <a class="button button--hover" href="#contacts">CONTACT US</a>
        </div>
    </div>
</section>