<div class="container" id="team">
    <section class="team">
      <div class="page-section text-center">
        <h2 class="page-section__title">PYERAMID TEAM</h2>
        <p class="page-section__paragraph">We have a team comprising of more than 50 efficient, reliable and advanced devolepers and designers working together to achieve a common goal of contributing to the digitalization of Africa. </p>
        <div class="row gutters-40">
          <div class="col-md-4 col-lg-3">
            <div class="thumbnail">
              <a href="images/vincent.jpg" target="_blank">
                <img src="images/vincent.jpg" alt="">
                <div class="caption team__caption">
                  <h4 class="team__name">Onoja A. Vincent</h4>
                  <p class="team__title">Founder</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="thumbnail">
              <a href="images/Kelvin.png" target="_blank">
                <img src="images/Kelvin.jpg" alt="">
                <div class="caption team__caption">
                  <h4 class="team__name">Eloho E. Kelvin</h4>
                  <p class="team__title">Co-Founder</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="thumbnail">
              <a href="https://sad-minsky-5cd88a.netlify.com/" target="_blank">
                <img src="images/joellee.jpg" alt="">
                <div class="caption team__caption">
                  <h4 class="team__name">Odufu E. Joel</h4>
                  <p class="team__title">Head Developer</p>
                </div>
              </a>
            </div>            
          </div>

          <div class="col-md-4 col-lg-3">
            <div class="thumbnail">
              <a href="images/okefufe.jpg" target="_blank">
                <img src="images/okefufe.jpg" alt="">
                <div class="caption team__caption">
                  <h4 class="team__name">Emmanuel C. Okeifufe</h4>
                  <p class="team__title">Brand Designer</p>
                </div>
              </a>
            </div>            
          </div>
        </div>
      </div>
    </section>
  </div>