<div class="container" id="testimony">
    <section class="slider">
        <div class="page-section text-center">
            <h2 class="page-section__title">WHAT EXPERTES SAY?</h2>
            <p class="page-section__paragraph">What Are You Waiting For? </p>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive slider__image" src="/images/bill gates.jpg" alt="">
                        <p class="slider__paragraph">If your business is not on the Internet, then your business will be out of business.</p>
                        <h3 class="slider__name">Bill Gates</h3>
                        <p class="slider__title">Microsoft Corporation</div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="material-icons">chevron_left</i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="material-icons">chevron_right</i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
</div>